{% extends "base.html" %}

{% block header %}
	<header>
		<ul class="topmenu">
			<li><a href="/">Main</a>
				<ul class="submenu">
					<li><a href="/alc_info">Info</a></li>
					<li><a href="/findWorker">Find</a></li>
				</ul>
		    </li>
			<li class="menu-delimiter"></li>
			<li><a href="/about">About</a></li>
			<li class="menu-delimiter"></li>
			<li><a href="/logout">Log out</a></li>
		</ul>
	</header>
{% endblock %}
		
{% block footer %}
	<footer>
		<p>&copy All rights reserved 2020</p>
	</footer>
{% endblock %}
